@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  --royal-maroon: #5B0A18;
  --palace-gold: #D4AF37;
  --royal-silver: #C0C0C0;
  --obsidian: #070707;

}


body {

  background:
  radial-gradient(
    circle at top,
    #7a1025,
    #070707 55%
  );

  color:white;

  min-height:100vh;

}
